misc/Image_Librarian_Dashboard_flows.json
[{"id":"3f4932fb.afc79e","type":"tab","label":"Image Librarian","disabled":false,"info":""},{"id":"289a282.37b9dd8","type":"tab","label":"ID Objects SUB","disabled":false,"info":""},{"id":"cf1b7f92.95591","type":"tab","label":"ALPR SUB","disabled":false,"info":""},{"id":"dc435157.47573","type":"mqtt-broker","name":"MQTT Docker","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"monitor","birthQos":"0","birthPayload":"Hello","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ecab9d6d.7606e","type":"ui_group","name":"Image Hub","tab":"5da65b9a.289b24","order":1,"disp":true,"width":"6","collapse":false},{"id":"5da65b9a.289b24","type":"ui_tab","name":"Image Hub Dashboard","icon":"settings","order":1,"disabled":false,"hidden":false},{"id":"6232524e.bc3b8c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"463e7f14.1cef5","type":"Stackhero-MySQL-Server","name":"imagehub","host":"mariadb","port":"3306","tls":false,"database":"imagehub"},{"id":"d2ee639d.51c83","type":"mqtt-broker","name":"MQTT Docker","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"monitor","birthQos":"0","birthPayload":"Hello","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eb0356f9.451a48","type":"Stackhero-MySQL-Server","name":"imagehub","host":"mariadb","port":"3306","tls":false,"database":"imagehub"},{"id":"d35c132a.76b01","type":"mqtt-broker","name":"MQTT Docker","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"monitor","birthQos":"0","birthPayload":"Hello","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"225a19cd.74a966","type":"Stackhero-MySQL-Server","name":"imagehub","host":"mariadb","port":"3306","tls":false,"database":"imagehub"},{"id":"8b231d69.3c56","type":"tail","z":"3f4932fb.afc79e","name":"tail imagehub.log","filetype":"text","split":"[\\r]{0,1}\\n","filename":"/data/imagehub_data/logs/imagehub.log","inputs":0,"x":120,"y":120,"wires":[["1d60b9a7.a4a7b6"]]},{"id":"1d60b9a7.a4a7b6","type":"function","z":"3f4932fb.afc79e","name":"tail payload parser","func":"// example msg from 'tail imagehub.log' node: {\"topic\":\"/data/imagehub_data/logs/imagehub.log\",\"payload\":\"2021-03-19 11:32:32,493 ~ Driveway RPiCam7|motion|moving\",\"_msgid\":\"f2e27698.809928\"}\n\nif (msg.payload) {\n    var nodeID;\n    var event = msg.payload.split(\"|\"); \n    var len = event[0].length;\n    if (len > 0){        \n        var timestamp = event[0].split(\",\")[0];\n\t\t// define event type (e.g. motion, temperature, etc.)\n        var eventName = \"\";\n\t\t// define event value (e.g. moving, still or value from sensor)\n        var eventValue = \"\";\n\t\t// define Region of Interest name if defined in imagenode.yaml file (e.g. 'FrontDoor')\n        var roi_name = \"\";\n        var viewname = \"\";\n        // check for Restart event\n        if (event[0].split(\" ~ \")[1].split(\" \")[1] === undefined) {\n            viewname = event[2];\n        }\n        else {\n            viewname = event[0].split(\" ~ \")[1].split(\" \")[1];\n        }\n\t\tvar i;\n\t\tvar nodepass = false;\n\t\tvar imagehubID = -1;\n        if (event[3]) {\n            roi_name = event[3];\n        }\n        // Assign camera_id ID\n\t\tfor (i = 0; i < global.get('camera').length; i++) {\n\t\t\tif (global.get('camera')[i].ViewName === viewname) {\n\t\t\t\tnodeID = global.get('camera')[i].ID; \n\t\t\t\teventName = event[1]; \n\t\t\t\teventValue = event[2];\n\t\t\t\tnodepass = true;\n\t\t\t}\n\t\t\tif (global.get('camera')[i].ViewName.toLowerCase() == 'imagehub') {\n\t\t\t\timagehubID = global.get('camera')[i].ID;\n\t\t\t}\n\t\t}\n\t\tif (nodepass === false) {\n\t\t\tnodeID = imagehubID;\n\t\t}\n        // Check for imagehub system Events\n        if (event[0].search('error') > 0){\n                eventName = 'error';}\n        else if (event[0].search('Exiting') > 0){\n                eventName = 'exiting';}\n        else if (event[0].search('Starting') > 0){\n                eventName = 'starting';}\n        else if (event[0].search('No messages') > 0){\n                eventName = 'no_messages';}\n        else if (event[0].search('SIGTERM') > 0){\n                eventName = 'sigterm';}\n        else if (event[0].search('Ctrl-C') > 0){\n                eventName = 'ctrl-c';}\n        else if (event[0].search('Max images') > 0){\n                eventName = 'max_images';}\n                 \n        msg.payload={datetime:timestamp, hubEvent:event[0], camera_id:nodeID, Event:eventName, Value:eventValue, ROI_name:roi_name, Viewname:viewname};\n        msg.topic = msg.topic = \"INSERT INTO events VALUES (:datetime, :hubEvent, :camera_id, :Event, :Value, :ROI_name)\";\n   }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":120,"wires":[["2057e471.ba740c","59a0b6a3.71ba88"]]},{"id":"e50b191f.6b7848","type":"watch","z":"3f4932fb.afc79e","name":"watch /data/imagehub_data/images","files":"/data/imagehub_data/images","recursive":true,"x":180,"y":299,"wires":[["a0880a7d.82eb98","137d1dcc.fca932","92effd6f.50caf"]]},{"id":"26846d48.b56442","type":"comment","z":"3f4932fb.afc79e","name":"Imagehub Events and Images","info":"","x":160,"y":60,"wires":[]},{"id":"98f63dac.d8b76","type":"function","z":"3f4932fb.afc79e","name":"MQTT: Check new image for objects\\n TOPIC: 'image/id_objects/get_objects'","func":"// example of 'watch /data/imagehub_data/images' node output: {\"payload\":\"/data/imagehub_data/images/2021-03-19/Driveway-RPiCam7-2021-03-19T12.54.28.249271.jpg\",\"topic\":\"/data/imagehub_data/images\",\"file\":\"Driveway-RPiCam7-2021-03-19T12.54.28.249271.jpg\",\"filename\":\"/data/imagehub_data/images/2021-03-19/Driveway-RPiCam7-2021-03-19T12.54.28.249271.jpg\",\"size\":53248,\"type\":\"file\",\"_msgid\":\"4c7a6b28.ca96c4\"}\n\nif (msg.payload){\n    msg.payload = global.get('nodered_dir')+msg.filename;\n    msg.topic = 'image/id_objects/get_objects';\n    msg.image = msg.file;\n}\n// only check objects of camera nodes enabled in Chk_Objects of CameraNodes table\nif (msg.file && msg.type != \"none\"){\n    var i;\n    var viewname;\n    var test = false;\n    for (i = 0; i < global.get('check_objects').length; i++) {\n        viewname = global.get('check_objects')[i];\n\t    if (msg.file.indexOf(viewname) > -1) {\n            test = true;\n        }\n\t}    \n    if (test){\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":420,"wires":[["5b6c129.77452ec"]]},{"id":"5b6c129.77452ec","type":"mqtt out","z":"3f4932fb.afc79e","name":"MQTT PUB Docker","topic":"","qos":"","retain":"","broker":"dc435157.47573","x":990,"y":420,"wires":[]},{"id":"d876fc3.b14b8","type":"delay","z":"3f4932fb.afc79e","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":120,"wires":[["2057e471.ba740c"]]},{"id":"1f88f5f5.7883ca","type":"function","z":"3f4932fb.afc79e","name":"CUSTOM: Check for Text trigger","func":"if (msg.trigger_text && msg.payload.length > 0){\n    if (msg.payload[0][\"COUNT(object_id)\"] > 0) {\n        msg.payload = 'A ' + msg.payload[0].object_id + ' ' + msg.ROI_Message;\n        msg.topic = 'Text Me';\n        msg.from = 'you.know.who@gmail.com';\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":220,"wires":[["82a58297.8070a"]]},{"id":"ad62357.27e0dc8","type":"comment","z":"3f4932fb.afc79e","name":"Add new images to Imagehub DB","info":"","x":170,"y":240,"wires":[]},{"id":"ee73851f.107b68","type":"comment","z":"3f4932fb.afc79e","name":"Check new images for Objects","info":"","x":600,"y":360,"wires":[]},{"id":"6691cb20.33d554","type":"comment","z":"3f4932fb.afc79e","name":"Check for 'objects' at specified Cameras","info":"","x":690,"y":60,"wires":[]},{"id":"4379bcee.44e154","type":"comment","z":"3f4932fb.afc79e","name":"Text and Auditory Message Notification","info":"","x":1170,"y":180,"wires":[]},{"id":"92effd6f.50caf","type":"debug","z":"3f4932fb.afc79e","name":"Image Librarian Flow","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":300,"wires":[]},{"id":"4603b44d.dacbfc","type":"function","z":"3f4932fb.afc79e","name":"Find last image for each camera to display","func":"// edit Display field of CameraNodes table to include camera in dashboard.py\nif (msg.type == \"file\"){\n    msg.payload={cameras_id:global.get(\"display\")};\n    msg.topic=\"SELECT images.* FROM (SELECT camera_id, MAX(image) AS image FROM images WHERE camera_id IN (:cameras_id) GROUP BY camera_id) AS latest_images INNER JOIN images ON images.camera_id = latest_images.camera_id AND images.image = latest_images.image;\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":560,"wires":[["b8f17bb2.6724a8"]]},{"id":"94f65478.e90ac8","type":"function","z":"3f4932fb.afc79e","name":"JSON format latest images payload","func":"if (msg.payload){\n    var directory = global.get('images_dir');\n    var filedir = [];\n    var text;\n    var i;\n    for (i = 0; i < msg.payload.length; i++) {\n        var obj = msg.payload[i];\n        var tmp = obj[\"image\"].split('T')[0];\n        var date = tmp.split('-')[2]+'-'+tmp.split('-')[3]+'-'+tmp.split('-')[4];\n        text = {'filename':directory + date + '/' + obj[\"image\"],'nodename':obj[\"ViewName\"],'timestamp':obj[\"datetime\"]};\n        filedir[i] = text;\n    }\n    //var d = new Date();\n    //d.setDate(d.getDate() - 1);\n    //var res = d.toISOString().slice(0,10).replace(/-/g,\"\");\n    //var startrails = 'startrails-' + res + '.jpg';\n    //text = {'filename':global.get('allsky_startrails') + startrails,'nodename':'AllSky','timestamp':''};\n    //filedir[i] = text;\n    msg.payload = filedir;\n    msg.filename = global.get('latest_images');\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":560,"wires":[["c53d962e.bdab18"]]},{"id":"c53d962e.bdab18","type":"file","z":"3f4932fb.afc79e","name":"create data file\\n /data/imagehub_data/latest_images.json","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1040,"y":640,"wires":[[]]},{"id":"539eb7aa.4a28e8","type":"comment","z":"3f4932fb.afc79e","name":"Create data file with last images for each camera - used by dashboard.py","info":"","x":300,"y":500,"wires":[]},{"id":"4a18c472.6c328c","type":"inject","z":"3f4932fb.afc79e","name":"manually create\\n latest_images.json file","props":[{"p":"payload"},{"p":"type","v":"file","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":560,"wires":[["4603b44d.dacbfc"]]},{"id":"5816cae.8b29434","type":"inject","z":"3f4932fb.afc79e","name":"Load global variables","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"5","topic":"SELECT * FROM camera_nodes","payload":"{}","payloadType":"json","x":160,"y":840,"wires":[["77a1dbee.b594a4"]]},{"id":"bd0442dd.e6eb6","type":"function","z":"3f4932fb.afc79e","name":"populate 'global.camera', 'global.display',\\n 'global.check_objects' and 'global.ALPR' with results","func":"// populate the CameraNodes table in order to save and display camera images\nif (msg.payload){\n    var i;\n    var display = [];\n    var check_objects = [];\n    var ALPR = [];\n    var monitor_ROI = [];\n    var monitor_msg = [];\n    var text_enabled = [];\n    for (i = 0; i < msg.payload.length; i++) {\n        global.set('camera['+i+']', msg.payload[i]);\n        if (msg.payload[i].Display) {\n            display.push(msg.payload[i].ID);\n        }\n        if (msg.payload[i].Chk_Objects) {\n            check_objects.push(msg.payload[i].ViewName);\n        }\n        if (msg.payload[i].ALPR) {\n            ALPR.push(msg.payload[i].ViewName);\n        }\n        if (msg.payload[i].ROI_name != '') {\n            monitor_ROI.push(msg.payload[i].ROI_name);\n            monitor_msg.push(msg.payload[i].Message);\n        }\n        if (msg.payload[i].Text_Enabled) {\n            text_enabled.push(msg.payload[i].ViewName);\n        }\n    }\n    global.set('display',display);\n    global.set('check_objects',check_objects);\n    global.set('ALPR',ALPR);\n    global.set('monitor_ROI',monitor_ROI);\n    global.set('monitor_msg',monitor_msg);\n    global.set('text_enabled',text_enabled);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":840,"wires":[[]]},{"id":"53f428ab.9f50f8","type":"comment","z":"3f4932fb.afc79e","name":"Configure/Edit the Directories","info":"","x":160,"y":640,"wires":[]},{"id":"49d84e45.96c2d","type":"function","z":"3f4932fb.afc79e","name":"populate 'global.nodered_dir', 'global.images_dir' and\\n 'global.latest_images' variables","func":"// populate global variables\nglobal.set('nodered_dir',msg.nodered_dir);\nglobal.set('images_dir',msg.images_dir);\nglobal.set('latest_images',msg.latest_images);\nglobal.set('purge_folders',msg.purge_folders);\nglobal.set('allsky_startrails',msg.allsky_startrails);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":700,"wires":[[]]},{"id":"b8a23de3.4a10b","type":"inject","z":"3f4932fb.afc79e","name":"Configuration Directories","props":[{"p":"nodered_dir","v":"/home/YOUR_HOME_DIRECTORY/IOTstack/volumes/nodered","vt":"str"},{"p":"images_dir","v":"/home/YOUR_HOME_DIRECTORY/IOTstack/volumes/nodered/data/imagehub_data/images/","vt":"str"},{"p":"latest_images","v":"/data/imagehub_data/latest_images.json","vt":"str"},{"p":"purge_folders","v":"/data/imagehub_data/purge_folders.json","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":700,"wires":[["49d84e45.96c2d"]]},{"id":"d995d41d.e2cd88","type":"comment","z":"3f4932fb.afc79e","name":"Build flow variables from imagehub.CameraNodes Table","info":"","x":240,"y":780,"wires":[]},{"id":"a0880a7d.82eb98","type":"delay","z":"3f4932fb.afc79e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":420,"wires":[["98f63dac.d8b76","4603b44d.dacbfc"]]},{"id":"59a0b6a3.71ba88","type":"function","z":"3f4932fb.afc79e","name":"CUSTOM: Check ROI's for Objects","func":"// ISO Date 2020-07-24T16:18:51.927871\nif (msg.payload.ROI_name != '' && msg.payload.Value == 'moving'){\n    var dir = msg.payload.hubEvent.split(\" ~ \");\n\t// pre-define variables for audio and Text output\n    msg.trigger_audio = false;\n\tmsg.trigger_text = false;\n\tmsg.ROI_Message = '';\n    if (typeof dir[1] != \"undefined\") {\n\t\tvar i;\n\t\tvar test = false;\n\t\t// loop thru monitor_ROI list for match of ROI_name\n\t\tfor (i = 0; i < global.get('monitor_ROI').length; i++) {\n\t\t\tif (msg.payload.ROI_name == global.get('monitor_ROI')[i]) {\n\t\t\t\tmsg.ROI_Message = global.get('monitor_msg')[i];\n\t\t\t\tmsg.trigger_audio = true;\n\t\t\t\ttest = true;\n\t\t\t}\n\t\t}\n\t\tfor (i = 0; i < global.get('text_enabled').length; i++) {\n\t\t\tif (msg.payload.Viewname == global.get('text_enabled')[i] && test) {\n\t\t\t\tmsg.trigger_text = true;\n\t\t\t\tmsg.trigger_audio = true;\n\t\t\t}\n\t\t}\n\t\t// if camera was in the 'monitor_ROI' global list 'test == true'\n\t\tif (test){\n\t\t\t// date time of event\n\t\t\tvar d = new Date(msg.payload.datetime);\n\t\t\t// add and subtract 10 seconds from datetime\n\t\t\tvar d1 = new Date(d.getTime() - 10000);\n\t\t\tvar d2 = new Date(d.getTime() + 10000);\n\t\t\t// build folder (e.g. 2020-11-02)\n\t\t\tvar folder = dir[0].split(' ')[0];\n\t\t\t// get time\n\t\t\tvar time1 = folder + ' ' + d1.toLocaleTimeString('en-US', { hour12: false });\n\t\t\tvar time2 = folder + ' ' + d2.toLocaleTimeString('en-US', { hour12: false });\n\t\t\t// build event_time (e.g. 2020-11-02T14:45:54.061)\n\t\t\tvar event_time = folder + 'T' + dir[0].split(' ')[1].replace(',','.');\n\t\t\t// check difference between last image and new image\n\t\t\tvar temp = 'SELECT COUNT(object_id), object_id FROM image_objects WHERE image_id LIKE \"%' + msg.payload.Viewname + '%\" AND (datetime >= \"'+time1+'\" AND datetime < \"'+time2+'\") AND object_id IN (\"person\",\"dog\",\"cat\") GROUP BY object_id';\n\t\t\tmsg.payload = {event_time: event_time};\n\t\t\tmsg.topic = temp;\n\t\t\t\n\t\t\treturn msg;\n\t\t}\n\t}\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":120,"wires":[["d876fc3.b14b8"]]},{"id":"27b660f4.37ba1","type":"function","z":"3f4932fb.afc79e","name":"CUSTOM: Check for audio trigger","func":"if (msg.trigger_audio && msg.payload.length > 0){\n    if (msg.payload[0][\"COUNT(object_id)\"] > 0) {\n        msg.payload = 'a ' + msg.payload[0].object_id + ' ' + msg.ROI_Message;\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":300,"wires":[["2fa114d5.8ecffc"]]},{"id":"cb2f3f09.be1ad8","type":"inject","z":"3f4932fb.afc79e","name":"Routine Purge of\\n Images and Db Entries","props":[{"p":"payload"},{"p":"daystokeep","v":"170","vt":"num"}],"repeat":"","crontab":"30 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1020,"wires":[["efb4abfd.1ea2e","e48c328b.cd0708","9683c2bc.c35da"]]},{"id":"8c814daf.f2d1d8","type":"debug","z":"3f4932fb.afc79e","name":"Purge Debug Node","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":1140,"wires":[]},{"id":"74f5352d.2cb33c","type":"function","z":"3f4932fb.afc79e","name":"ALPR_Events Db Purge","func":"if (msg.payload) {\n    var date_time = new Date(msg.payload);\n    // set to midnight\n    date_time.setHours(0, 0, 0, 0);\n    // subtract msg.daystokeep days\n    date_time.setDate(date_time.getDate()-msg.daystokeep);\n    msg.payload = {date_time:date_time};\n    //msg.topic = \"SELECT COUNT(image_id) FROM alpr_events WHERE datetime < :date_time\";\n    msg.topic = \"DELETE FROM alpr_events WHERE datetime < :date_time\";\n    msg.folder_list = false;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":940,"wires":[["493249c9.1b5b98"]]},{"id":"d4d2b96a.f4f7","type":"function","z":"3f4932fb.afc79e","name":"ImageObjects Db Purge","func":"if (msg.payload) {\n    var date_time = new Date(msg.payload);\n    // set to midnight\n    date_time.setHours(0, 0, 0, 0);\n    // subtract msg.daystokeep days\n    date_time.setDate(date_time.getDate()-msg.daystokeep);\n    msg.payload = {date_time:date_time};\n    //msg.topic = \"SELECT COUNT(image_id) FROM image_objects WHERE datetime < :date_time\";\n    msg.topic = \"DELETE FROM image_objects WHERE datetime < :date_time\";\n    msg.folder_list = false;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1000,"wires":[["493249c9.1b5b98"]]},{"id":"fc2e84f6.f5a5e8","type":"function","z":"3f4932fb.afc79e","name":"Images Db Purge","func":"if (msg.payload) {\n    var date_time = new Date(msg.payload);\n    // set to midnight\n    date_time.setHours(0, 0, 0, 0);\n    // subtract msg.daystokeep days\n    date_time.setDate(date_time.getDate()-msg.daystokeep);\n    msg.payload = {date_time:date_time};\n    //msg.topic = \"SELECT COUNT(image) FROM images WHERE datetime < :date_time\";\n    msg.topic = \"DELETE FROM images WHERE datetime < :date_time\";\n    msg.folder_list = false;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1060,"wires":[["493249c9.1b5b98"]]},{"id":"efb4abfd.1ea2e","type":"function","z":"3f4932fb.afc79e","name":"List of Image Folders to be Purged","func":"if (msg.payload) {\n    var date_time = new Date(msg.payload);\n    // set to midnight\n    date_time.setHours(0, 0, 0, 0);\n    // subtract msg.daystokeep days\n    date_time.setDate(date_time.getDate()-msg.daystokeep);\n    msg.payload = {date_time:date_time};\n    msg.topic = \"SELECT COUNT(datetime) AS Count, DATE_FORMAT(datetime,'%Y-%m-%d') AS Date FROM images WHERE datetime < :date_time GROUP BY DATE(datetime)\";\n    msg.folder_list = true;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1120,"wires":[["493249c9.1b5b98"]]},{"id":"e48c328b.cd0708","type":"delay","z":"3f4932fb.afc79e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":980,"wires":[["74f5352d.2cb33c","d4d2b96a.f4f7"]]},{"id":"9683c2bc.c35da","type":"delay","z":"3f4932fb.afc79e","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":1060,"wires":[["fc2e84f6.f5a5e8"]]},{"id":"5a16cc34.a8b8f4","type":"function","z":"3f4932fb.afc79e","name":"JSON format list of folders to purge","func":"if (msg.folder_list){\n    if (msg.payload.length > 0) {\n\t    var directory = global.get('images_dir');\n        var folderlist = [];\n        var i;\n        for (i = 0; i < msg.payload.length; i++) {\n            folderlist.push({'folder': directory + msg.payload[i].Date});\n        }\n        msg.payload = folderlist;\n        msg.filename = global.get('purge_folders');\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":1040,"wires":[["8097e711.ed2c7"]]},{"id":"d47d47da.a1d2f","type":"comment","z":"3f4932fb.afc79e","name":"Purge Db and Delete Folders","info":"","x":170,"y":940,"wires":[]},{"id":"8097e711.ed2c7","type":"file","z":"3f4932fb.afc79e","name":"create data file\\n /data/imagehub_data/purge_folders.json","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":880,"y":1140,"wires":[["8c814daf.f2d1d8"]]},{"id":"2fa114d5.8ecffc","type":"ui_audio","z":"3f4932fb.afc79e","name":"","group":"ecab9d6d.7606e","voice":"Microsoft Zira Desktop - English (United States)","always":true,"x":1260,"y":300,"wires":[]},{"id":"b8a6b939.f9d3d8","type":"ui_button","z":"3f4932fb.afc79e","name":"","group":"ecab9d6d.7606e","order":1,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hello world","payloadType":"str","topic":"topic","topicType":"msg","x":1110,"y":360,"wires":[["2fa114d5.8ecffc"]]},{"id":"a98bebd2.0e7528","type":"inject","z":"3f4932fb.afc79e","name":"Test Audio Out","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":940,"y":360,"wires":[["b8a6b939.f9d3d8"]]},{"id":"137d1dcc.fca932","type":"function","z":"3f4932fb.afc79e","name":"add image name to DB","func":"// function node: add image name to DB - Image Librarian Flow\n\n// example of 'watch /data/imagehub_data/images' node output: {\"payload\":\"/data/imagehub_data/images/2021-03-19/Driveway-RPiCam7-2021-03-19T12.54.28.249271.jpg\",\"topic\":\"/data/imagehub_data/images\",\"file\":\"Driveway-RPiCam7-2021-03-19T12.54.28.249271.jpg\",\"filename\":\"/data/imagehub_data/images/2021-03-19/Driveway-RPiCam7-2021-03-19T12.54.28.249271.jpg\",\"size\":53248,\"type\":\"file\",\"_msgid\":\"4c7a6b28.ca96c4\"}\n\nif (msg.file && msg.type != \"none\") {\n\tvar nodeID = 0;\n\t// example file: Driveway-RPiCam7-2021-03-19T12.54.28.249271.jpg\n\tvar res = msg.file.split(\"T\");\n    if (typeof res[0] == \"undefined\" || typeof res[1] == \"undefined\") {\n        return;\n    }\n    else {\n        var yyyymmdd = res[0].slice(-10);\n        var nodename = res[0].split(\"-\")[0]+\" \"+res[0].split(\"-\")[1];\n\t\tvar i;\n        // Assign nodeID\n\t\tfor (i = 0; i < global.get('camera').length; i++) {\n\t\t\tif (global.get('camera')[i].NodeName === nodename) {\n\t\t\t\tnodeID = global.get('camera')[i].ID;\n\t\t\t}\n\t\t}\n        var eventtime = res[1].split(\".\")[0]+\":\"+res[1].split(\".\")[1]+\":\"+res[1].split(\".\")[2]+\".\"+res[1].split('.')[3];\n        msg.payload={datetime:yyyymmdd+\" \"+eventtime, image:msg.file, camera_id:nodeID, ViewName:res[0].split(\"-\")[1],size:msg.size};\n        msg.topic=\"INSERT IGNORE INTO images VALUES (:datetime, :image, :camera_id, :ViewName, :size)\";\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":240,"wires":[["2057e471.ba740c"]]},{"id":"2057e471.ba740c","type":"Stackhero-MySQL","z":"3f4932fb.afc79e","server":"463e7f14.1cef5","name":"imagehub DB","x":700,"y":240,"wires":[["1f88f5f5.7883ca","27b660f4.37ba1"]]},{"id":"b8f17bb2.6724a8","type":"Stackhero-MySQL","z":"3f4932fb.afc79e","server":"463e7f14.1cef5","name":"imagehub DB","x":780,"y":560,"wires":[["94f65478.e90ac8"]]},{"id":"77a1dbee.b594a4","type":"Stackhero-MySQL","z":"3f4932fb.afc79e","server":"463e7f14.1cef5","name":"imagehub DB","x":400,"y":840,"wires":[["bd0442dd.e6eb6"]]},{"id":"493249c9.1b5b98","type":"Stackhero-MySQL","z":"3f4932fb.afc79e","server":"463e7f14.1cef5","name":"imagehub DB","x":840,"y":1040,"wires":[["5a16cc34.a8b8f4"]]},{"id":"82a58297.8070a","type":"e-mail","z":"3f4932fb.afc79e","server":"smtp.anywhere.com","port":"465","secure":true,"tls":true,"name":"16934523456.18456741234.s2vdxnQSj2@txt.voice.google.com","dname":"email Google Voice","x":1290,"y":220,"wires":[]},{"id":"c7185530.a76298","type":"mqtt out","z":"289a282.37b9dd8","name":"MQTT PUB Docker","topic":"","qos":"","retain":"","broker":"dc435157.47573","x":810,"y":400,"wires":[]},{"id":"65235142.0064c","type":"mqtt in","z":"289a282.37b9dd8","name":"MQTT SUB \\n TOPIC: 'image/id_objects/count'","topic":"image/id_objects/count","qos":"2","datatype":"json","broker":"dc435157.47573","x":150,"y":120,"wires":[["af7bccf8.2925a"]]},{"id":"ac91b52.d9d3248","type":"Stackhero-MySQL","z":"289a282.37b9dd8","server":"463e7f14.1cef5","name":"imagehub DB","x":740,"y":120,"wires":[["8a61ebf6.ff83c8"]]},{"id":"de5eed63.8ac21","type":"comment","z":"289a282.37b9dd8","name":"MQTT SUB - Objects and ALPR DB","info":"","x":160,"y":60,"wires":[]},{"id":"af7bccf8.2925a","type":"function","z":"289a282.37b9dd8","name":"INSERT INTO image_objects TABLE","func":"// example image: StreetView-RPiCam4-2020-07-26T08.52.52.723956.jpg\nif (msg.payload.isfile) {\n    var dir = msg.payload.filename.split(\"T\");\n    var folder = dir[0].split('-')[2]+'-'+dir[0].split('-')[3]+'-'+dir[0].split('-')[4];\n    var date_time = folder+'T'+dir[1].split('.')[0]+':'+dir[1].split('.')[1]+':'+dir[1].split('.')[2]+'.'+dir[1].split('.')[3];\n    // catalog objects\n    var results = {};\n    var obj;\n    for (obj in msg.payload){\n        if (obj != 'image' && obj != 'isfile'){\n            if (msg.payload[obj] > 0){\n                results[obj] = msg.payload[obj];\n            }\n        }\n    }\n    msg.results = results;\n    // loop thru the results and add an entry for each\n    for (obj in results){\n    \tmsg.payload={datetime:date_time, image_id:msg.payload.filename, object_id:obj, count:results[obj]};\n\t    msg.topic=\"INSERT IGNORE INTO image_objects (datetime, image_id, object_id, count) VALUES (:datetime, :image_id, :object_id, :count);\";\n\t    return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":120,"wires":[["ac91b52.d9d3248","a6550106.f8145"]]},{"id":"8a61ebf6.ff83c8","type":"debug","z":"289a282.37b9dd8","name":"ID Objects SUB Flow","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":120,"wires":[]},{"id":"a6550106.f8145","type":"function","z":"289a282.37b9dd8","name":"Check License Plate of images\\n from ALPR enabled cameras for\\n objects = 'car', 'truck', 'bus' or 'motorbike'","func":"// MQTT: IF 'car', 'truck', 'bus' OR 'motorbike' lookup License Plate - ID Objects Flow\n\n// payload: {\"datetime\":\"2021-03-22T09:01:01.211280\",\"image_id\":\"StreetView-RPiCam4-2021-03-22T09.01.01.211280.jpg\",\"object_id\":\"car\",\"count\":1}\n// ISO Date 2020-07-24T16:18:51.927871\n\n// only check license plates of cameras enabled in ALPR field of CameraNodes table\nif (msg.payload.image_id){\n    var i;\n    var view_name = '';\n\tvar Viewname = '';\n    var test = false;\n    for (i = 0; i < global.get('ALPR').length; i++) {\n        view_name = global.get('ALPR')[i];\n\t    if (msg.payload.image_id.indexOf(view_name) > -1) {\n\t\t\tViewname = view_name;\n            test = true;\n        }\n\t}\n    //\n\tvar dir = msg.payload.datetime.split(\"T\");\n\tvar obj_test = ['car','truck','motorbike','bus'];\n\tif (test && obj_test.includes(msg.payload.object_id)){\n\t\t// intialize flow variables IF not defined previously\n\t\tvar last_image = flow.get('last_image') ;\n\t\tif (typeof last_image == \"undefined\") last_image = 0;\n\t\tvar diff = flow.get('diff') ;\n\t\tif (typeof diff == \"undefined\") diff = 0;\n\t\tvar count = flow.get('count') ;\n\t\tif (typeof count == \"undefined\") count = 1;\n\t\tvar outputMsgs = flow.get('outputMsgs') ;\n\t\tif (typeof outputMsgs == \"undefined\") outputMsgs = [];\n\t\tvar avgimages = flow.get('avgimages') ;\n\t\tif (typeof avgimages == \"undefined\") avgimages = 0;\n\t\tvar total_cars = flow.get('total_cars') ;\n\t\tif (typeof total_cars == \"undefined\") total_cars = 1;\n\t\tvar total_count = flow.get('total_count') ;\n\t\tif (typeof total_count == \"undefined\") total_count = 0;\n\t\t// build directory, folder and date_time variable\n\t\t//var dir = msg.payload.image.split(\"T\");\n\t\tvar folder = dir[0];\n\t\tvar date_time = new Date(msg.payload.datetime);\n\t\t// check the difference in time from last image\n\t\tdiff = date_time - last_image;\n\t\t// save flow variables\n\t\tflow.set('last_image',date_time);\n\t\tflow.set('diff',diff);\n\t\t// test to see if this is a new set of images older than 1500 milliseconds\n\t\tif (diff > 1500) {\n\t\t\ttotal_count = total_count + count;\n\t\t\tavgimages = total_count / total_cars;\n\t\t\ttotal_cars = total_cars + 1;\n\t\t\tcount = 1;\n\t\t\tflow.set('count',count);\n\t\t\tflow.set('diff_1',diff);\n\t\t\tflow.set('total_count',total_count);\n\t\t\tflow.set('total_cars',total_cars);\n\t\t\tflow.set('avgimages',avgimages);\n\t\t}\n\t\tif (diff < 1000) {\n\t\t\tcount += 1;\n\t\t\tflow.set('count',count);\n\t\t}\n\t\tif (count == 4){\n\t\t\t// date time of event\n\t\t\tvar d = new Date(msg.payload.datetime);\n\t\t\t// add and subtract 10 seconds from datetime\n\t\t\tvar d1 = new Date(d.getTime() - 5000);\n\t\t\tvar d2 = new Date(d.getTime() + 5000);\n\t\t\t// get time\n\t\t\tvar time1 = folder + ' ' + d1.toLocaleTimeString('en-US', { hour12: false });\n\t\t\tvar time2 = folder + ' ' + d2.toLocaleTimeString('en-US', { hour12: false });\n\t\t\t// check difference between last image and new image\n\t\t\tvar temp = 'SELECT image_id FROM image_objects WHERE image_id LIKE \"%' + Viewname + '%\" AND (datetime >= \"'+time1+'\" AND datetime < \"'+time2+'\") AND object_id IN (\"car\",\"truck\",\"motorbike\")';\n\t\t\tmsg.payload = {event_time: msg.payload.datetime};\n\t\t\tmsg.topic = temp;\n\t\t\tmsg.datetime = d;\n\t\t\treturn msg;\n\t\t}\n\t}\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["3f349706.4a9088"]]},{"id":"1ba52a70.080826","type":"Stackhero-MySQL","z":"289a282.37b9dd8","server":"463e7f14.1cef5","name":"imagehub DB","x":240,"y":400,"wires":[["6b16429f.a4c51c"]]},{"id":"3f349706.4a9088","type":"delay","z":"289a282.37b9dd8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":260,"wires":[["1ba52a70.080826"]]},{"id":"6b16429f.a4c51c","type":"function","z":"289a282.37b9dd8","name":"Pick images for License Plate check","func":"if (msg.payload.length > 0){\n    var i;\n    var outputMsgs = [];\n    var dir = new Date(msg.datetime).toISOString().split('T');\n    var images_dir = global.get('images_dir');\n    for (i = 0; i < msg.payload.length; i++) {\n        if (i == 2) {\n            outputMsgs.push(images_dir + dir[0] + '/' + msg.payload[i].image_id);\n        }\n        if (i == (msg.payload.length - 2)) {\n            outputMsgs.push(images_dir + dir[0] + '/' + msg.payload[i].image_id);\n        }\n    }\n    msg.topic = 'image/alpr/get_license';\n    msg.payload = {};\n    msg.payload.filename = outputMsgs;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":400,"wires":[["c7185530.a76298"]]},{"id":"ef691b7a.1f5e68","type":"mqtt in","z":"cf1b7f92.95591","name":"MQTT SUB\\n TOPIC: 'image/alpr/results'","topic":"image/alpr/results","qos":"2","datatype":"json","broker":"dc435157.47573","x":150,"y":100,"wires":[["7cfaffe0.25fd4"]]},{"id":"763b34ad.1c454c","type":"Stackhero-MySQL","z":"cf1b7f92.95591","server":"463e7f14.1cef5","name":"imagehub DB","x":480,"y":260,"wires":[["b2420ee4.4be62"]]},{"id":"e510fef8.a02a3","type":"comment","z":"cf1b7f92.95591","name":"MQTT SUB - Add ALPR Data","info":"","x":160,"y":40,"wires":[]},{"id":"7cfaffe0.25fd4","type":"json","z":"cf1b7f92.95591","name":"JSONize msg.payload","property":"payload","action":"obj","pretty":false,"x":400,"y":100,"wires":[["5e135b5c.cb55e4"]]},{"id":"fbb780c4.bfe29","type":"function","z":"cf1b7f92.95591","name":"SELECT * FROM license_plates TABLE","func":"function formatDatetoISO(date) {\n    var d = new Date(date);\n    var z = d.getTimezoneOffset() * 60 * 1000;\n    //subtract the offset from t\n    tLocal = d-z;\n    //create shifted Date object\n    tLocal = new Date(tLocal)\n    //convert to ISO format string\n    iso = tLocal.toISOString();\n    //drop the milliseconds and zone\n    iso = iso.slice(0, 19);\n    //replace the ugly 'T' with a space\n    //iso = iso.replace('T', ' ');\n    return iso;\n}\n\nif (msg.payload){\n    msg.plate = msg.payload.results[0].plate.toUpperCase();\n    msg.image = msg.payload.filename.slice(11,60);\n    msg.score = msg.payload.results[0].score;\n    msg.processing_time = msg.payload.processing_time;\n    msg.vehicle_type = msg.payload.results[0].vehicle.type.toLowerCase();\n    var dt = new Date();\n    msg.datetime = formatDatetoISO(dt.toISOString())\n    //var datetime = msg.image.split('RPiCam4-')[1].split('.jpg')[0];\n    //msg.datetime = datetime.split('.')[0]+':'+datetime.split('.')[1]+':'+datetime.split('.')[2]+'.'+datetime.split('.')[3];\n    var plate = msg.payload.results[0].plate.toUpperCase();\n    var len = plate.length;\n    var plate1 = plate + '%';\n    var plate2 = '%' + plate.slice(len-4, len);\n    msg.payload = {plate:plate, plate1:plate1, plate2:plate2};\n    msg.topic = \"SELECT * FROM license_plates WHERE (`license` = :plate OR `license` LIKE :plate1 OR `license` LIKE :plate2)\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":260,"wires":[["763b34ad.1c454c"]]},{"id":"f30ca670.222ff8","type":"function","z":"cf1b7f92.95591","name":"INSERT INTO alpr_events TABLE","func":"if (msg.payload){\n    var ID = 0;\n    if (msg.add_licenseplate === true){\n        ID = msg.payload.insertId;\n    }\n    else {\n        ID = msg.payload[0].ID;\n    }\n    msg.add_licenseplate = false;\n    msg.payload = {license_id:ID, datetime:msg.datetime, image_id:msg.image, processing_time:msg.processing_time};\n    msg.topic = \"INSERT INTO alpr_events (license_id, datetime, image_id, processing_time) VALUES (:license_id, :datetime, :image_id, :processing_time)\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":200,"wires":[["81800582.1b9b28","dd2d5f7a.82b2b"]]},{"id":"b2420ee4.4be62","type":"switch","z":"cf1b7f92.95591","name":"Query Results of license_plates\\n NULL or NOT NULL","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":260,"wires":[["f30ca670.222ff8"],["8e36bd88.32a4b"]]},{"id":"81800582.1b9b28","type":"Stackhero-MySQL","z":"cf1b7f92.95591","server":"463e7f14.1cef5","name":"imagehub DB","x":1320,"y":300,"wires":[["32d9547c.f0ab4c"]]},{"id":"8e36bd88.32a4b","type":"function","z":"cf1b7f92.95591","name":"INSERT INTO license_plates TABLE","func":"if (msg.plate.length > 0){\n    msg.add_licenseplate = true;\n    msg.payload = {license:msg.plate.toUpperCase(), color:'unknown', type:msg.vehicle_type, identified:'unknown'};\n    msg.topic = 'INSERT INTO license_plates (license, color, type, identified) VALUES (:license, :color, :type, :identified)';\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":300,"wires":[["81800582.1b9b28"]]},{"id":"5e135b5c.cb55e4","type":"switch","z":"cf1b7f92.95591","name":"ALPR Results NULL or NOT NULL","property":"payload.results[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":100,"wires":[["52dbcb06.a9afe4"],["fbb780c4.bfe29"]]},{"id":"52dbcb06.a9afe4","type":"function","z":"cf1b7f92.95591","name":"IS NULL - INSERT INTO alpr_events TABLE","func":"// include unsuccessful lookups\nfunction formatDatetoISO(date) {\n    var d = new Date(date);\n    var z = d.getTimezoneOffset() * 60 * 1000;\n    //subtract the offset from t\n    tLocal = d-z;\n    //create shifted Date object\n    tLocal = new Date(tLocal)\n    //convert to ISO format string\n    iso = tLocal.toISOString();\n    //drop the milliseconds and zone\n    iso = iso.slice(0, 19);\n    //replace the ugly 'T' with a space\n    //iso = iso.replace('T', ' ');\n    return iso;\n}\n\nif (msg.payload){\n    msg.add_licenseplate = false;\n    msg.image = msg.payload.filename.slice(11,60);\n    msg.processing_time = msg.payload.processing_time;\n    var dt = new Date();\n    msg.datetime = formatDatetoISO(dt.toISOString())\n    //var datetime = msg.image.split('RPiCam4-')[1].split('.jpg')[0];\n    //msg.datetime = datetime.split('.')[0]+':'+datetime.split('.')[1]+':'+datetime.split('.')[2]+'.'+datetime.split('.')[3];\n    msg.payload = {license_id:1, datetime:msg.datetime, image_id:msg.image, processing_time:msg.processing_time};\n    msg.topic = \"INSERT INTO alpr_events (license_id, datetime, image_id, processing_time) VALUES (:license_id, :datetime, :image_id, :processing_time)\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":100,"wires":[["81800582.1b9b28","314a97be.4c8c48"]]},{"id":"32d9547c.f0ab4c","type":"switch","z":"cf1b7f92.95591","name":"IF msg.add_licenseplate = true\\n INSERT INTO alpr_events TABLE","property":"add_licenseplate","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1580,"y":300,"wires":[["f30ca670.222ff8"]]},{"id":"dd2d5f7a.82b2b","type":"function","z":"cf1b7f92.95591","name":"CUSTOM: check for Newspaper vehicle","func":"// NKD4516 = 151\nif (msg.payload.license_id == 151){\n    msg.payload = 'The Newspaper is here!';\n    msg.topic = 'The Newspaper has arrived';\n    msg.from = 'anyone@anywhere.com';\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":200,"wires":[["4210895d.ac5eb8"]]},{"id":"314a97be.4c8c48","type":"debug","z":"cf1b7f92.95591","name":"ALPR SUB Flow","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":100,"wires":[]},{"id":"4210895d.ac5eb8","type":"e-mail","z":"cf1b7f92.95591","server":"smtp.anywhere.com","port":"465","secure":true,"tls":true,"name":"18829319517.18914842534.s2vdxnQSj2@txt.voice.google.com","dname":"email Google Voice","x":1690,"y":200,"wires":[]}]
